
{%extends  'base.html'%}
<!--Content block-->
{%block content%}

<!--Styles block-->
{%block styles%}
  {{super()}}
  <link rel = "stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">

  {%endblock%}

<div class="container news">
 {% for article in new%}
 <div class="card" style="width: 18rem;">
 <p>{{article.author}}</p>
  <img src="{{article.UrlToImage}}">
  <p>{{article.description}}</p>
  <p>{{article.publishedAt}}</p>
  <!-- <p>{{article.content}}</p> -->
  <a class="btn btn-primary" href="{{article.url}}" role="button">View Article</a>
</div>
 {%endfor%}

</div>
{%endblock%}